.todo-point{
    background-color: rgb(237, 155, 100);
    padding: 4px;
    border-top-left-radius: 12px; ;
    border-bottom-right-radius: 12px;
margin:6px 0;
justify-content: space-between;
display: flex;
align-items: center;

}
.delete-button{
    padding: 4px  ;
    background-color: red;
    color: wheat;
    border: none;
    border: 1px solid black;
    border-radius: 6px;
cursor: pointer;
}